body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #9b59b6, #3498db);
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.success-container:hover,.form-container:hover {
  backdrop-filter: blur(5px) saturate(300%);
  -webkit-backdrop-filter: blur(16px) saturate(300%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 2px solid rgb(255, 255, 255);
}

.success-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  background-color: #9b59b6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #8e44ad;
}

.error {
  color: #ff0000;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .form-container {
    padding: 20px;
  }
}

input {
  outline: none;
}

input:focus {
  outline: 2px solid #3cb1ff;
}